@import "./../../../../theme/theme.scss";

.MuiButtonBase-root.MuiMenuItem-root {
	font-family: var(--font-poppins);
	font-size: 13px;
}

.MuiButton-root {
	font-size: 13px;
	font-family: var(--font-poppins);
}

.MuiInputBase-input {
	font-size: 13px;
	font-family: var(--font-poppins);
}

.MuiInputBase-input::placeholder {
	font-size: 13px;
	font-family: var(--font-poppins);
}

.MuiTypography-root {
	font-size: 13px;
	font-family: var(--font-poppins);
}

.leads-table {
	@include themify($themes) {
		margin: "10px";
		width: 100%;
		border: none;

		.MuiDataGrid-cellContent {
			font-family: var(--font-poppins);
			font-size: 12px;
		}

		.MuiDataGrid-columnHeaderTitle {
			font-family: var(--font-poppins);
			font-size: 13px;
		}

		.MuiDataGrid-toolbarContainer {
			flex-direction: row-reverse;

			@media (max-width: 460px) {
				flex-direction: row;
			}
		}

		.status-container {
			height: 18px;
			width: auto;
			padding: 7px 8px 6px 8px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 8px;

			p {
				font-size: 11px;
			}
		}
	}
}
