@import "./../../../theme/theme.scss";

.crm {
	@include themify($themes) {
		.crm-top {
			height: 450px;
			width: 100%;
			display: flex;
			gap: 10px;

			@media (max-width: 1080px) {
				flex-direction: column;
				height: auto;
			}

			.crm-top-left {
				flex: 5;
				border-radius: 6px;
				background-color: themed("background");
				height: 100%;

				@media (max-width: 1080px) {
					flex: none;
					height: 60vh;
				}

				@media (max-width: 500px) {
					height: 80vw;
				}
			}

			.crm-top-right {
				flex: 3;
				border-radius: 6px;
				background-color: themed("background");
				height: 100%;

				@media (max-width: 1080px) {
					flex: none;
					height: 80vh;
				}

				@media (max-width: 400px) {
					height: 130vw;
				}
			}
		}

		.crm-middle {
			margin-top: 10px;
			display: flex;
			gap: 10px;
			width: 100%;
			height: 360px;

			@media (max-width: 1120px) {
				flex-direction: column;
			}

			.crm-middle-left {
				flex: 2;
				background-color: themed("background");
				border-radius: 6px;
				height: 100%;

				@media (max-width: 1120px) {
					flex: none;
					height: auto;
				}
			}

			.crm-middle-middle {
				flex: 3;
				background-color: themed("background");
				border-radius: 6px;
				height: 100%;

				@media (max-width: 1120px) {
					flex: none;
				}
			}

			.crm-middle-right {
				flex: 2;
				background-color: themed("background");
				border-radius: 6px;
				height: 100%;

				@media (max-width: 1120px) {
					flex: none;
				}
			}
		}
	}
}
