@import "./../../../../theme/theme.scss";

tspan {
	font-size: 9px;
	font-family: var(--font-poppins);
}

.recharts-legend-item-text {
	font-size: 10px;
	font-family: var(--font-poppins) !important;
}

.lead-source {
	@include themify($themes) {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 5px;

		.lead-source-chart {
			height: 100%;
			width: 100%;
		}

		.lead-source-key {
			display: flex;
			flex-direction: column;
			gap: 3px;
			flex-wrap: wrap;
			width: 100%;

			.lead-source-key-container {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.key-info {
					display: flex;
					justify-content: space-between;
					h6 {
						font-size: 11px;
					}
					.h-lead {
						width: 70px;
						text-align: start;
					}

					.p-lead {
						width: 100px;
						text-align: start;

						p {
							font-size: 10px;

							span {
								color: $main;
							}
						}
					}
				}

				.key-line {
					width: 100%;
					height: 1px;
					background-color: themed("hover");
				}
			}
		}
	}
}
