@import "./../../../../theme/theme.scss";

.product-table {
	@include themify($themes) {
		padding: 5px 10px;
		height: 100%;

		h4 {
			font-size: 13px;
		}

		.table-container {
			margin-top: 8px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-top: 1px solid themed("hover");
			padding: 3px 15px;

			p {
				font-size: 11px;
			}
		}
	}
}
