@import "./../../../../../../theme/theme.scss";

.messages {
	@include themify($themes) {
		width: 100%;
		overflow-y: scroll;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		padding: 10px;
		padding-bottom: 20px;

		@media (max-width: 800px) {
			padding-top: 40px;
		}

		.message {
			width: 90%;
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			gap: 10px;

			@media (max-width: 500px) {
				width: 100%;
			}

			&.human-message {
				flex-direction: row-reverse;

				.message-container {
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					background-color: themed("glass");
					border-bottom: 1px solid themed("hover");
					padding: 5px;
				}
			}

			.message-container {
				width: 90%;
			}

			.message-avatar {
				width: 35px;
				height: 35px;
				border-radius: 50%;
				position: relative;
				overflow: hidden;

				.m-avatar {
					object-fit: cover;
				}
			}

			.ai-icon {
				font-size: 25px;
				color: themed("icon");
			}
		}

		.loading {
			.load {
				display: flex;
				border-radius: 50%;
				flex-direction: row;
			}

			.progress {
				width: 20px;
				height: 20px;
				margin: 0.4em;
				scale: 0;
				border-radius: 50%;
				background: themed("text");
				animation: loading 1.2s ease infinite;
				animation-delay: 1s;

				@media (max-width: 500px) {
					width: 16px;
					height: 16px;
				}
			}

			@keyframes loading {
				50% {
					scale: 1;
				}
			}

			.progress:nth-child(2) {
				animation-delay: 1.3s;
			}

			.progress:nth-child(3) {
				animation-delay: 1.7s;
			}
		}
	}
}
