@import "./../../../theme/theme.scss";

.select-container {
	@include themify($themes) {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5px;

		select {
			border: 1px solid themed("border");
			border-radius: 4px;
			height: 23px;
			font-family: var(--font-poppins);
			color: themed("softParagraphColor");
			display: flex;
			align-items: center;
			background-color: themed("background");
			cursor: pointer;

			&:active {
				border: 1px solid themed("border");
			}

			&:focus {
				border: 1px solid themed("border");
			}

			p {
				font-size: 12px;
			}
		}
	}
}
