@import "../../theme/theme.scss";

.side-bar-container {
	@include themify($themes) {
		height: 100vh;
		width: 230px;
		background-color: themed("background");
		transition: all 0.3s;
		padding: 5px 10px;
		position: relative;

		@media (max-width: 700px) {
			display: none;
		}

		&.side-bar-collapse {
			width: 65px;
		}

		.side-bar-toggle {
			position: absolute;
			right: -30px;
			width: 30px;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			z-index: 200;

			.open-icon {
				font-size: 18px;
				color: themed("icon");
			}
		}

		.logo-container {
			margin-top: 10px;
			position: relative;
			height: 30px;

			width: 100%;
			display: flex;
			align-items: center;

			.logo-image {
				object-fit: contain;
			}
		}

		.side-bar-wrapper {
			margin-top: 20px;
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 4px;
		}

		.credits {
			border-radius: 7px;
			height: 140px;
			background: themed("info");
			position: absolute;
			bottom: 20px;
			left: 12px;
			right: 12px;
			padding: 7px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			transition: all 0.3s;
			overflow: hidden;

			p {
				font-size: 12px;
			}

			.credits-container {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 4px;

				h6 {
					text-wrap: nowrap;
				}

				.progress-container {
					height: 6px;
					border-radius: 5px;
					overflow: hidden;
					width: 100%;
					background-color: themed("hover");

					.progress {
						background-color: $main;
						height: 100%;
					}
				}
			}

			.upgrade-btn {
				width: 100%;

				.upgrade-icon {
					color: white;
				}

				p {
					text-transform: lowercase;
					color: white;
				}
			}
		}
	}
}
