@import "../../../../../../../theme/theme.scss";

.schedules {
	@include themify($themes) {
		width: 100%;
		height: 382px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}
}

.on-time {
	@include themify($themes) {
		width: 100%;

		.ot-heading {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.ot-input {
			margin-bottom: -6px;

			.muidp {
				background: themed("background");
				border-radius: 7px;
				scale: 0.7;
				position: relative;
				left: -40px;
			}
		}

		.ot-daily {
			display: flex;
			align-items: center;
			gap: 5px;
			margin: 0 7px;

			p {
				font-size: 10px;
			}

			.cswitch {
				scale: 0.7;
			}
		}
	}
}

.on-day {
	@include themify($themes) {
		width: 100%;

		.od-heading {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.od-day {
			display: flex;
			gap: 4px;
			margin: 7px 0;
			align-items: center;
			justify-content: center;

			button {
				background-color: transparent;
				border: 1px solid themed("hover");
				border-radius: 3px;
				padding: 1px 3px;
				cursor: pointer;
				transition: all 0.3s;

				p {
					font-size: 9px;
				}
			}
		}

		.od-input {
			margin-bottom: -6px;

			.muidp {
				background: themed("background");
				border-radius: 7px;
				scale: 0.7;
				position: relative;
				left: -40px;
			}
		}

		.od-daily {
			display: flex;
			align-items: center;
			gap: 5px;
			margin: 0 7px;

			p {
				font-size: 10px;
			}

			.cswitch {
				scale: 0.7;
			}
		}
	}
}

.on-date {
	@include themify($themes) {
		width: 100%;

		.odate-heading {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.odate-input {
			margin-bottom: -6px;

			.muidp {
				background: themed("background");
				border-radius: 7px;
				scale: 0.7;
				position: relative;
				left: -40px;
			}
		}

		.odate-daily {
			display: flex;
			align-items: center;
			gap: 5px;
			margin: 0 7px;

			p {
				font-size: 10px;
			}

			.cswitch {
				scale: 0.7;
			}
		}
	}
}

.custom-time {
	@include themify($themes) {
		width: 100%;
		align-items: center;
		display: flex;
		flex-direction: column;

		.custom-heading {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.custom-time-btn {
			width: 100%;
			margin: 6px 7px 4px 7px;
			display: flex;
			align-items: center;
			justify-content: center;

			.custom-date-btn {
				width: 94%;
				p {
					text-transform: lowercase;
					color: $main;
				}
			}
		}
	}
}

.MuiPickersPopper-root {
	scale: 0.8;
	margin-bottom: -70px;
	z-index: 10000000000;
}

.MuiPickersLayout-root {
	margin-bottom: -60px;
	z-index: 10000000000;
}
