@import "./../../../../theme/theme.scss";

.pie-chart {
	@include themify($themes) {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		padding: 5px;

		.pie-chart-container {
			width: 100;
			height: 100%;
		}

		.pie-chart-keys {
			display: flex;
			flex-wrap: wrap;
			gap: 4px;

			.key-container {
				display: flex;
				align-items: center;
				gap: 2px;

				h6 {
					font-size: 10px;
				}

				.key-color {
					width: 9px;
					height: 9px;
					border-radius: 50%;
				}
			}
		}
	}
}
