@import "./../../../../theme/theme.scss";

text {
	font-size: 12px;
	font-family: var(--font-poppins);
}

.leads-location {
	@include themify($themes) {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 5px;
		gap: 7px;

		.leads-location-chart {
			height: 100%;
			width: 100%;
		}

		.leads-location-keys {
			display: flex;
			flex-wrap: wrap;
			gap: 4px;
			justify-content: center;

			.key-container {
				display: flex;
				align-items: center;
				gap: 2px;

				h6 {
					font-size: 10px;
				}

				.key-color {
					width: 9px;
					height: 9px;
					border-radius: 50%;
				}
			}
		}
	}
}
