@import "./../../../../theme/theme.scss";

.todays-upcoming-events {
	@include themify($themes) {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.todays-event-title {
			padding: 6px;
			width: 100%;
			background-color: $minBackground;
			border-radius: 6px 6px 0 0;
		}

		.todays-events-container {
			width: 100%;
			height: 100%;
			padding: 8px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 5px;
			overflow-y: scroll;

			.todays-events-wrapper {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				gap: 1px;
				border-bottom: 1px solid themed("hover");

				.todays-event-title-wrapper {
					h6 {
						font-weight: 600;
						font-size: 12px;
					}
				}

				.todays-event-partner-date {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding-left: 10px;

					.todays-event-partner {
						p {
							font-size: 12px;
						}
					}

					.todays-event-date {
						p {
							font-size: 10px;
							color: $mainLight;
						}
					}
				}
			}
		}

		.todays-event-footer {
			height: 35px;
			padding: 5px;
			width: 100%;
			background-color: $minBackground;
			border-radius: 0 0 6px 6px;
			border: 0;
			text-align: center;
			cursor: pointer;
			transition: all 0.3s;

			&:hover {
				background-color: #e60cc21e;
			}

			p {
				color: $main;

				&:hover {
					color: $mainLight;
				}
			}
		}
	}
}
