@import "./../../../../theme/theme.scss";

.tools {
	@include themify($themes) {
		width: 100%;
		.tools-container {
			width: 100%;
			display: flex;
			align-items: center;

			.cb-tools {
				margin: 20px;
				height: auto;
				width: 100%;
				display: grid;
				grid-auto-rows: minmax(150px, auto);
				grid-template-columns: repeat(auto-fit, minmax(225px, 320px));
				gap: 20px 20px;
				justify-content: flex-start;
				align-content: flex-start;

				@media (max-width: 400px) {
					margin: 10px 5px;
				}

				@media (max-width: 1000px) {
					justify-content: center;
				}

				&.cb-tools2 {
					justify-content: center;
				}

				.tool-box {
					border-radius: 10px;
					background-color: themed("background");
					border: 1px solid themed("hover");
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					h5 {
						font-size: 13px;
					}

					.tool-box-title {
						display: flex;
						align-items: center;
						justify-content: space-between;
						width: 100%;
						border-bottom: 1px solid themed("hover");
						height: 45px;
						padding: 5px 10px;

						.tb-left {
							display: flex;
							height: 100%;
							align-items: center;
							gap: 5px;

							.tb-left-icon-container {
								height: 35px;
								width: 35px;
								border-radius: 50%;
								background-color: themed("background");
								display: flex;
								align-items: center;
								justify-content: center;
								border: 1px solid themed("hover");

								.tool-icon {
									color: themed("icon");
									font-size: 18px;
								}
							}

							.tb-left-info {
								display: flex;
								flex-direction: column;
								justify-content: center;
								height: 100%;
								padding-top: 4px;

								h3 {
									line-height: 0.7;
								}
							}
						}

						.tb-right {
							.tb-delete {
								font-size: 18px;
								color: themed("icon");
							}
						}
					}

					.tool-box-info {
						p {
							font-size: 11px;
							span {
								font-size: 13px;
								color: themed("titleColor");
								font-weight: 600;
							}
						}

						padding: 5px;
						display: flex;
						flex-direction: column;
						gap: 4px;
					}

					.tool-box-btn-container {
						padding: 7px 14px;
						.tbc {
							display: flex;
							gap: 10px;
							align-items: center;
							justify-content: flex-end;

							.tool-box-btn {
								.tool-box-icon {
									font-size: 15px;
								}

								p {
									color: white;
									font-size: 11px;
									text-transform: lowercase;
								}
							}
						}
					}
				}

				.tool-box-add {
					border: 1px dashed themed("border");
					border-radius: 10px;
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;

					.tb-add {
						display: flex;
						align-items: center;
						gap: 5px;

						h4 {
							font-size: 20px;
							color: themed("border");
						}

						.tb-add {
							color: themed(border);
							font-size: 30px;
						}
					}
				}
			}
		}
	}
}
