@import "./../../../../theme/theme.scss";

.sub-heading {
	@include themify($themes) {
		margin-top: 20px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow: hidden;

		h1 {
			font-size: 60px;
			font-size: clamp(30px, 5vw, 60px);
			line-height: 1;
			text-wrap: nowrap;
			color: themed("text");
		}

		.h1-1 {
			color: #b12f9ba3;
		}
	}
}
