@import "./../../../../theme/theme.scss";

.email-campaigns {
	@include themify($themes) {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 5px;
		gap: 7px;

		.email-campaigns-chart {
			height: 100%;
			width: 100%;
		}
	}
}
