@import "./../../../../theme/theme.scss";

.users-overview {
	@include themify($themes) {
		width: 100%;
		display: flex;
		padding: 8px;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 850px) {
			flex-direction: column;
			gap: 20px;
			padding: 10px;
		}

		.totals {
			display: flex;
			gap: 15px;
			align-items: center;

			.totals-data {
				h3 {
					font-size: 20px;
				}
			}
		}

		.users-buttons {
			display: flex;
			flex-direction: column;
			gap: 7px;

			@media (max-width: 850px) {
				flex-direction: row;
			}

			.user-h6 {
				font-size: 11px;
				text-transform: lowercase;
			}

			.user-p {
				color: white;
				font-size: 11px;
				text-transform: lowercase;
			}
		}
	}
}
