@import "./../../../../../theme/theme.scss";

.chat {
	@include themify($themes) {
		background-color: themed("background");
		position: absolute;
		inset: 62px 20px 10px 20px;
		border-radius: 6px;

		@media (max-width: 500px) {
			inset: 62px 6px 10px 6px;
		}
	}
}
