@import "./../../../../../theme/theme.scss";

.add-tool {
	@include themify($themes) {
		height: 85vh;
		width: 550px;

		@media (max-width: 600px) {
			width: 90vw;
			height: 70vh;
		}

		.add-tool-title {
			width: 100%;
			border-bottom: 1px solid themed("hover");

			h1 {
				text-align: center;
			}
		}

		.add-tool-container {
			width: 100%;
			height: 95%;
			overflow-y: scroll;

			.add-tool-wrapper {
				width: 100%;
				height: auto;
				display: flex;
				flex-direction: column;
				gap: 13px;
				margin-top: 15px;
				padding: 0 5px;

				.add-tool-box {
					border-radius: 7px;
					border: 1px solid themed("hover");
					display: flex;
					flex-direction: column;
					gap: 3px;
					padding: 10px;
					cursor: pointer;
					transition: 0.3s;

					&:hover {
						background-color: themed("glass");
					}

					.add-tool-top {
						display: flex;
						align-items: center;
						gap: 5px;

						.add-tool-icon {
							color: themed("icon");
							font-size: 17px;
						}
					}
				}
			}
		}
	}
}
