//color peletes
$main: #b12f9c;
$mainLight: #c353b0;

//background
//light mode
$lightBackround: #fdfdfd;
$softLightBackground: rgba(216, 216, 216, 0.447);
//dark mode
$darkBackround: #181818;
$softDarkBackground: #292929;

//text
//light mode
$pLight: rgb(0, 0, 0);
$pSoftLight: rgb(40, 40, 40);
$titlesLight: black;
$titleSoftLight: rgb(40, 40, 40);
//dark mode
$pDark: rgb(255, 255, 255);
$pSoftDark: rgb(196, 196, 196);
$titlesDark: rgb(255, 255, 255);
$titleSoftDark: rgb(217, 217, 217);

//borders
//light mode
$lightBorder: rgba(144, 144, 144, 0.616); //will be used as hover too

//dark mode
$darkBorder: rgba(137, 137, 137, 0.493); //will be used as hover too

$minBackground: rgba(119, 119, 119, 0.052);

$themes: (
	light: (
		color: white,
		paragraphColor: $pLight,
		softParagraphColor: $pSoftLight,

		titleColor: $titlesLight,
		softTitleColor: $titleSoftLight,

		background: $lightBackround,
		softBackground: $softLightBackground,
		sb: rgba(147, 147, 147, 0.122),
		border: $lightBorder,

		icon: rgba(38, 38, 38, 0.672),
		shadow: rgba(75, 75, 75, 0.389),
		hover: rgba(133, 133, 133, 0.275),
		glass: rgba(245, 245, 245, 0.852),
		//----filters
		a2: rgba(226, 87, 217, 0.645),
	),

	dark: (
		color: rgba(0, 0, 0, 0.234),
		paragraphColor: $pDark,
		softParagraphColor: $pSoftDark,

		titleColor: $titlesDark,
		softTitleColor: $titleSoftDark,

		background: $darkBackround,
		softBackground: $softDarkBackground,
		sb: rgba(93, 93, 93, 0.102),
		border: $darkBorder,

		icon: rgba(236, 236, 236, 0.755),
		shadow: rgba(65, 65, 65, 0.263),
		hover: rgba(133, 133, 133, 0.267),
		glass: rgba(58, 58, 58, 0.22),
		//----filters
		a2: rgba(249, 38, 235, 0.468),
	),
);

@mixin themify($themes) {
	@each $theme, $map in $themes {
		.theme-#{$theme} & {
			$theme-map: () !global;
			@each $key, $submap in $map {
				$value: map-get(map-get($themes, $theme), "#{$key}");
				$theme-map: map-merge(
					$theme-map,
					(
						$key: $value,
					)
				) !global;
			}
			@content;
			$theme-map: null !global;
		}
	}
}

@function themed($key) {
	@return map-get($theme-map, $key);
}
