@import "./../../../theme/theme.scss";

.users {
	@include themify($themes) {
		display: flex;
		flex-direction: column;
		gap: -2px;

		.users-chart {
			width: 100%;
			border-radius: 6px 6px 0 0;
			background-color: themed("background");
		}

		.users-table {
			width: 100%;
			border-radius: 0 0 6px 6px;
			background-color: themed("background");
		}
	}
}
