@import "./../../../theme/theme.scss";

.daily-activities {
	@include themify($themes) {
		display: flex;
		flex-direction: column;
		gap: 10px;

		.daily-activities-top {
			display: flex;
			gap: 10px;

			@media (max-width: 1100px) {
				flex-direction: column-reverse;
			}

			.daily-activities-top-left {
				flex: 2;
				border-radius: 6px;
				background-color: themed("background");
				height: 550px;
			}

			.daily-activities-top-right {
				flex: 3;
				display: flex;
				flex-direction: column;
				gap: 10px;

				.daily-activities-top-right-top {
					flex: 2;
					display: flex;
					gap: 10px;

					@media (max-width: 600px) {
						flex-direction: column;
					}

					.daily-activities-summarries-left {
						flex: 2;
						display: flex;
						flex-direction: column;
						gap: 10px;

						.daily-activities-summarries-left-top {
							flex: 1;
							border-radius: 6px;
							background-color: themed("background");
						}

						.daily-activities-summarries-left-bottom {
							flex: 1;
							border-radius: 6px;
							background-color: themed("background");
						}
					}

					.daily-activities-summarries-right {
						flex: 3;
						border-radius: 6px;
						background-color: themed("background");
					}
				}

				.daily-activities-top-right-bottom {
					flex: 3;
					border-radius: 6px;
					background-color: themed("background");
				}
			}
		}

		.daily-activities-bottom {
			display: flex;
			gap: 10px;

			@media (max-width: 1100px) {
				flex-direction: column;
			}

			.daily-activities-bottom-left {
				flex: 1;

				display: flex;
				flex-direction: column;
				gap: 10px;

				.daily-activities-bottom-left-top {
					height: 300px;
					border-radius: 6px;
					background-color: themed("background");

					@media (max-width: 1100px) {
						height: auto;
					}
				}

				.daily-activities-bottom-left-bottom {
					height: 300px;
					border-radius: 6px;
					background-color: themed("background");

					@media (max-width: 1100px) {
						height: auto;
					}
				}
			}

			.daily-activities-bottom-right {
				flex: 1;
				height: 610px;
				border-radius: 6px;
				background-color: themed("background");

				@media (max-width: 1100px) {
					height: auto;
				}
			}
		}
	}
}
