@import "../../../../theme/theme.scss";

.mobile-side-bar-container {
	@include themify($themes) {
		p {
			font-size: 13px;
			color: theme("border");
		}

		height: 100vh;
		width: 100%;
		background-color: themed("background");
		transition: all 0.3s;
		overflow-y: scroll;
		padding: 5px 10px 5px 10px;
		overflow-x: hidden;

		.mobile-side-bar-title {
			display: flex;
			align-items: center;
			justify-content: space-between;

			@media (max-width: 700px) {
				align-items: flex-end;
			}

			.mobile-side-bar-toggle {
				width: 100%;
				margin-left: 10px;

				.close-icon {
					font-size: 22px;
					color: themed("icon");
					cursor: pointer;
				}
			}
		}

		.mobile-side-bar-wrapper {
			margin-top: 20px;
			width: 100%;

			.mobile-side-bar-heading {
				margin: 5px;
			}

			.mobile-side-bar-general {
				display: flex;
				flex-direction: column;
				gap: 4px;
			}
		}
	}
}
