@import "./../../../theme/theme.scss";

.general-links {
	@include themify($themes) {
		background-color: transparent;
		border: none;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 15px;
		border-radius: 3px;
		padding: 3px 4px;
		cursor: pointer;
		transition: all 0.3s;

		&:active {
			background-color: themed("border");
		}

		&:hover {
			background-color: themed("hover");
		}

		.side-bar-icon {
			font-size: 15px;
			color: themed("icon");
			transition: all 0.3s;

			.nav-icons {
				font-size: 15px;
				color: themed("icon");
				transition: all 0.3s;
			}

			&.side-bar-icon-collapse {
				font-size: 20px;
				padding: 4px 7px;

				.nav-icons {
					font-size: 20px;
				}
			}
		}

		.h5text {
			transition: all 0.3s;
			font-size: 13px;
			color: themed("softParagraphColor");
		}

		.arrrow-up {
			font-size: 13px;
			color: themed("icon");
			transition: all 0.3s;
		}
	}
}
